$anchor_text_colour: #969696;

$site_background_col: white;
$main_content_top_offset: 65px;
$site_palette_main: #003a77;
$site_palette_white: white;
$site_palette_black: black;
$site_palette_gold: #fee5bd;

$site_palette_gold_darker: #c69e6c;
$anchor_rolled_text_colour: $site_palette_main;
$menu_rollover_background_col: $site_palette_gold;

$star-colour: #ffaa00;
$popular-products-background: #e7ecf0;
$wellness-background: #f3f3f3;
$product-info-name-colour: #2b978a;
$product-info-gray: #767676;
