.has-site-blue-color {
	color: $site_palette_main;
}
.has-star-gold-color {
	color: $star-colour;
}

.has-site-light-blue-color {
	color: $product-info-name-colour;
}

.has-gray-color {
	color: $product-info-gray;
}
